useDynLib(mtfd, .registration=TRUE) 
import(Rcpp) 
import(methods) 

importFrom(dendextend,cutree) 
importFrom(dendextend,labels_cex) 
importFrom(dendextend,get_nodes_xy) 
importFrom(dendextend,partition_leaves) 
importFrom(dendextend,rect.dendrogram) 
importFrom(fda,create.bspline.basis) 
importFrom(fda,eval.fd) 
importFrom(fda,fd) 
importFrom(fda,smooth.basis) 
importFrom(fastcluster,hclust) 
importFrom(ggtext,element_markdown) 
importFrom(purrr,is_empty) 
importFrom(scales,alpha) 
importFrom(shinybusy,show_modal_spinner) 
importFrom(shinyWidgets,useSweetAlert) 
importFrom(shinyjs,disable) 
importFrom(shinyjs,enable) 
importFrom(shinyjs,html) 
importFrom(shinyjs,useShinyjs) 
importFrom(stringr,str_extract)
importFrom(zoo,na.trim) 
importFrom(zoo,rollapply) 

export('clusterMotif') 
export('generateCurves') 
export('motifSimulationApp') 
export('motifSimulationBuilder') 
export('plot_motifs') 
exportClasses('motifSimulation') 
exportMethods('generateCurves') 
exportMethods('plot_motifs') 
exportMethods("to_motifDiscovery") 

