useDynLib(mtfd, .registration=TRUE) 
import(Rcpp) 
import(progress)
import(dplyr)
import(ggplot2)
import(parallel)
import(shiny)
import(methods)
import(data.table)
importFrom(shinybusy,remove_modal_spinner)
importFrom(grDevices, dev.off, pdf, rainbow, rgb)
importFrom(graphics, abline, axis, barplot, boxplot, curve, hist, layout, legend, lines, matplot, mtext, par, plot.new, points, rect, segments, text, title)
importFrom(stats, as.dendrogram, as.dist, density, na.omit, quantile, rbeta, rnorm, runif, sd, setNames, start, var)
importFrom(utils, modifyList, tail)
importFrom(dendextend,cutree) 
importFrom(dendextend,labels_cex) 
importFrom(dendextend,get_nodes_xy) 
importFrom(dendextend,partition_leaves) 
importFrom(dendextend,rect.dendrogram) 
importFrom(fda,create.bspline.basis) 
importFrom(fda,eval.fd) 
importFrom(fda,fd) 
importFrom(fda,smooth.basis) 
importFrom(fastcluster,hclust) 
importFrom(ggtext,element_markdown) 
importFrom(purrr,is_empty) 
importFrom(scales,alpha) 
importFrom(shinybusy,show_modal_spinner) 
importFrom(shinyWidgets,useSweetAlert) 
importFrom(shinyjs,disable) 
importFrom(shinyjs,enable) 
importFrom(shinyjs,html) 
importFrom(shinyjs,useShinyjs) 
importFrom(stringr,str_extract)
importFrom(zoo,na.trim) 
importFrom(zoo,rollapply) 
importFrom(class,knn)
importFrom(combinat,combn)

export('clusterMotif') 
export('generateCurves') 
export('motifSimulationApp') 
export('motifSimulationBuilder') 
export('plot_motifs') 
exportClasses('motifSimulation') 
exportMethods('generateCurves') 
exportMethods('plot_motifs') 
exportMethods("to_motifDiscovery") 

